{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>Rainbow</title>
    <link rel="stylesheet" type="text/css" href="{% static "style.css" %}">
</head>
<body>
    <div id="container">
        <div id="game">
        </div>
        <div id="menu">
            <div id="menu-container">
                <div id="debug-log">
                    <strong>Debug</strong>
                    <ul>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="chat-overlay" class="overlay">
        <form>
            <input type="text" placeholder="Enter message...">
        </form>
    </div>
    <script type="text/javascript" src="{% static "jquery/dist/jquery.min.js" %}"></script>
    <script type="text/javascript" src="{% static "easystarjs/bin/easystar-0.4.1.min.js" %}"></script>
    <script type="text/javascript" src="{% static "phaser-ce/build/phaser.js" %}"></script>
    <script type="text/javascript" src="{% static "channels/js/websocketbridge.js" %}"></script>
    <script type="text/javascript" src="{% static "bundle.js" %}"></script>
</body>
</html>